<!DOCTYPE html>
<html ng-app="wordManager">
<head>
	<title>Dictionary App</title>	
	<link rel="stylesheet" type="text/css" href="styles/normalize.css">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="styles/mystyle
	.css">
	
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond|Cinzel+Decorative|Indie+Flower' rel='stylesheet' type='text/css'>
	
</head>
<body ng-controller="wineController" id="about-body">
	<div id="wrapper">
		<div id="header">	
      <div class="header-stuff">
        <span class="brand-name brand silly-text"><a href="/">QuickDict</a></span>
        <span class="real-float-right">
        	<div class="right-header">How it works</div>
        	<!--
          <button class="login-edmodo-button">
		  		<img id="edmodo-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41205/edmodo-icon_1.png">
		  		<div id="vertical-divider"></div>
		  		<p>Log in with <span id="edmodo">Edmodo</span></p>
				</button>
			-->	
        </span>
      </div>        
  	</div>  

	<div id="content">
		<div id="main-shit" class="srs-text">
			<div>Please enter the words you want to look up
				<ul>
					<li>Comma, row, or space delimited.</li>
				</ul>
			</div>

				<div>			
					<input class="push-down form-control srs-text bigger-font" type='textarea' id='the-word' ng-model='userText' placeholder="Enter words here" rows='3' >
					<!--
					<button ng-click="getWord();" id='submit-button'>Submit Chat</button>		
				</div>	
				-->		  

				<div class='push-down'>
					<button class="btn-primary form-control btn btn-success bigger-font silly-text" id='submit-button-two'>Submit everything</button>
				</div>				
		</div>
	</div>

	<div id="response-shit" class="hidden-until">
		<div id="response" class="push-down">
					<p><span class="underline">Word</span>: <span id="entry-one"></span></p>
					<p><span class="underline">Part of speech</span>: <span id="POS-one"></span></p>
					<p><span class="underline">Definition</span>: <span id="def-one"></span></p>
				</div>	
	</div>

	<div id="footer">
		<div id="footer-stuff">“What goes on inside is just too fast and huge and all interconnected for words to do more than barely sketch the outlines of at most one tiny little part of it at any given instant.” – David Foster Wallace (Oblivion, 2004)</div>
	</div>
	

		
    
<!--    	
    	<div class="float-right">
    		Praise for QuickDict: <span><i>Why hasn't someone done this already?</i></span>
    	</div>
-->    	
		
		


<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script> -->
<script src='js/jquery.js'></script>
<script src='js/bootstrap.js'></script>
<script src='application.js'></script>
<script src='edmodo_login.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.js"></script>

</body>
<!--
	<script type="text/x-handlebars-template" id='users-template'>
	<table>
		<thead>
			<th>First name</th>
			<th>Last name</th>
			<th>Username</th>
			<th>Age</th>
		</thead>
		<tbody>
			{{#each allUsers}}
			<tr>
				<td>{{firstname}}</td>
				<td>{{lastname}}</td>
				<td>{{username}}</td>
				<td>{{age}}</td>
			</tr>
			{{/each}}
		</tbody>


	</table>
	</script>
-->


</html>